.vers {
    font-size: 90%;
}

.card01-image {
    max-width: 50% !important;
    height: auto;
    vertical-align: middle;
}

.dark-card {
    background-color: #0A3348 !important;
}

.bookcontainer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.bookcontainer .book {
    position: relative;
    width: 575px;
    height: 850px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transition: 0.5s;
}

.bookcontainer .book img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookcontainer .book::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 100%;
    transform-origin: left;
    background-image: url(../IMG/Book1/side.png);
    background-color: rgb(150, 146, 134);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateY(90deg);
}

.bookcontainer .book:hover {
    transform: rotateY(35deg);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.bookcontainer2 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.bookcontainer2 .book2 {
    position: relative;
    width: 575px;
    height: 850px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transition: 0.5s;
}

.bookcontainer2 .book2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookcontainer2 .book2::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 100%;
    transform-origin: left;
    background-image: url(../IMG/Book2/side2.png);
    /*background-color: rgb(150, 146, 134);*/
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateY(90deg);
}

.vertical-align {
    vertical-align: middle !important;
}

.bookcontainer2 .book2:hover {
    transform: rotateY(35deg);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.bookcontainer3 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.bookcontainer3 .book3 {
    position: relative;
    width: 575px;
    height: 850px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transition: 0.5s;
}

.bookcontainer3 .book3 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookcontainer3 .book3::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 100%;
    transform-origin: left;
    background-image: url(../IMG/Book3/side-3.png);
    /* background-color: rgb(150, 146, 134); */
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateY(90deg);
}

.bookcontainer3 .book3:hover {
    transform: rotateY(35deg);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.hovereditem_light {
    transition-duration: 0.5ms;
    transition-delay: 0.1ms;
}

.hovereditem_dark {
    transition-duration: 0.5ms;
    transition-delay: 0.1ms;
}

.hovereditem_light:hover {
    color: #ff8a00;
}

.hovereditem_dark:hover {
    color: #ff0000;
}

.card01 {
    width: 90%;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
}

.card02 {
    width: 85% !important;
}

.card-texts {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

.card-titles {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gomb {
    border-radius: 100px;
    max-width: 25%;
    transition: 00.5s;
}

.card01-image {
    height: auto;
    transition: 0.5s;
}

.card01-image:hover {
    transform: scale(1.05);
}

.card01-body {
    transition: 00.5s;
}

.card01-body:hover {
    transform: scale(1.05);
}

.gomb:hover {
    transform: scale(1.05);
}

@media screen and (min-width:130px) {
    input[type="checkbox"] {
        -webkit-appearance: none;
        visibility: hidden;
        display: none;
    }
    .check {
        position: absolute;
        display: block;
        background-color: #092c3e;
        cursor: pointer;
        border-radius: 20px;
        overflow: hidden;
        transition: ease-in 0.5s;
        z-index: 5;
    }
    input[type="checkbox"]:checked~.check {
        background: #fff;
    }
    .check::before {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 4px;
        background: #fff;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        transition: 0.5s;
    }
    input[type="checkbox"]:checked~.check::before {
        transform: translateY(-80px);
    }
    .check::after {
        content: '';
        position: absolute;
        top: 4px;
        right: 4px;
        background: #092c3e;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        transition: 0.5s;
        transform: translateY(80px);
    }
    input[type="checkbox"]:checked~.check::after {
        transform: translateY(0px);
    }
    .switcher {
        top: 103% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
    .content {
        padding-left: 70px !important;
    }
}

@media screen and (min-width:140px) {
    .switcher {
        top: 105% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
}

@media screen and (min-width:150px) {
    .switcher {
        top: 105% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
}

@media screen and (min-width:170px) {
    .switcher {
        top: 107% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
}

@media screen and (min-width:300px) {
    .switcher {
        top: 105% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
}

@media screen and (min-width:350px) {
    .switcher {
        top: 103% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
}

@media screen and (min-width:400px) {
    .switcher {
        top: 100% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
}

@media screen and (min-width:450px) {
    .switcher {
        top: 94% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
}

@media screen and (min-width:500px) {
    .switcher {
        top: 92% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
}

@media screen and (min-width:550px) {
    .switcher {
        top: 88% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
}

@media screen and (min-width:600px) {
    .switcher {
        top: 82% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
}

@media screen and (min-width:650px) {
    .switcher {
        top: 78% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
}

@media screen and (min-width:700px) {
    .switcher {
        top: 74% !important;
        left: 15px !important;
    }
    .check {
        width: 40px;
        height: 80px;
    }
}

@media screen and (max-width:360px) {
    .card02-text {
        font-size: 100% !important;
    }
}

@media screen and (min-width:360px) {
    .szoveg01,
    .responsive-text {
        font-size: 60%;
    }
    .card01-image {
        margin: 0%;
        margin: auto;
        padding: 0%;
        max-width: 100%;
    }
    .gomb02 {
        max-width: 100%;
        height: auto;
        padding-right: 15%;
        padding-left: 15%;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .gomb01 {
        max-width: 100%;
        padding-left: 20%;
        height: auto;
        padding-right: 20%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

@media screen and (max-width:768px) {
    .szoveg01,
    .responsive-text {
        font-size: 80%;
    }
    .card01-image {
        margin: auto;
        max-width: 100%;
    }
    .gomb02 {
        max-width: 100%;
        height: auto;
        padding-right: 15%;
        padding-left: 15%;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .gomb01 {
        max-width: 100%;
        padding-left: 20%;
        height: auto;
        padding-right: 20%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

@media screen and (max-width:992px) {
    .szoveg01,
    .responsive-text {
        font-size: 140%;
    }
    .card01-image {
        max-width: 190%;
        margin: 0%;
    }
    .gomb02 {
        max-width: 100%;
        height: auto;
        padding-right: 15%;
        padding-left: 15%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .gomb01 {
        max-width: 100%;
        padding-left: 20%;
        height: auto;
        padding-right: 20%;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media screen and (min-width:992px) {
    .szoveg01,
    .responsive-text {
        font-size: 180%;
    }
    .card01-image {
        max-width: 200%;
    }
    .gomb02 {
        max-width: 100%;
        height: auto;
        padding-right: 15%;
        padding-left: 15%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .gomb01 {
        max-width: 100%;
        padding-left: 20%;
        height: auto;
        padding-right: 20%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .card02-image {
        width: 100%;
    }
    .szoveg02 {
        font-size: 200%;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navigation {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 1500px;
    width: 70px;
    background-color: #2b343b;
    box-shadow: 10px 0 0 #4187f6;
    border-left: 2px solid #2b343b;
    overflow-x: hidden;
    transition: width 0.5s;
    z-index: 3;
}

.navigation:hover {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a {
    position: relative;
    width: 100%;
    display: block;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.MySlider .Slider_01 img {
    width: 100% !important;
    height: auto;
}

.navigation::before ul::before li::before .active::before a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #2b343b;
    border-radius: 50%;
    box-shadow: 15 px 15px 0 #4187f6;
}

.navigation::after ul::after li::after .active::after a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #2b343b;
    border-radius: 50%;
    box-shadow: 15 px -15px 0 #4187f6;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.navigation ul li a .icon ion-icon .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 2px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li a .titleimg {
    position: relative;
    display: block;
    padding-left: 2px;
    height: 80px;
    line-height: 80px;
    white-space: nowrap;
}

.navigation li ul .active {
    background-color: #4187f6;
}

@media screen and (min-width:768px) {
    .switcher {
        top: 15% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 26.7% !important;
    }
    .check {
        width: 80px;
        height: 40px;
    }
    .nav-item {
        padding: 8px 8px !important;
    }
    .navbar-p {
        font-size: 0.8em !important;
        font-weight: 500;
    }
    input[type="checkbox"] {
        -webkit-appearance: none;
        visibility: hidden;
        display: none;
    }
    .check {
        position: absolute;
        display: block;
        background-color: #092c3e;
        cursor: pointer;
        border-radius: 20px;
        overflow: hidden;
        transition: ease-in 0.5s;
        z-index: 5;
    }
    input[type="checkbox"]:checked~.check {
        background: #fff;
    }
    .check::before {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 4px;
        background: #fff;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        transition: 0.5s;
    }
    input[type="checkbox"]:checked~.check::before {
        transform: translateX(-50px);
    }
    .check::after {
        content: '';
        position: absolute;
        top: 4px;
        right: 4px;
        background: #092c3e;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        transition: 0.5s;
        transform: translateX(50px);
    }
    input[type="checkbox"]:checked~.check::after {
        transform: translateX(0px);
    }
    .content {
        padding-left: 0px !important;
    }
}

@media screen and (min-width:800px) {
    .switcher {
        top: 15% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 27.5% !important;
    }
    .check {
        width: 80px;
        height: 40px;
    }
    .nav-item {
        padding: 8px 10px !important;
    }
    .navbar-p {
        font-size: 0.8em !important;
        font-weight: 500;
    }
}

@media screen and (min-width:850px) {
    .switcher {
        top: 15% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 28.5% !important;
    }
}

@media screen and (min-width:900px) {
    .switcher {
        top: 15% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 29.3% !important;
    }
    .navbar-p {
        font-size: 0.9em !important;
        font-weight: 500;
    }
    .check {
        width: 80px;
        height: 40px;
    }
    .nav-item {
        padding: 8px 20px !important;
    }
}

@media screen and (min-width:950px) {
    .switcher {
        top: 14% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 30.2% !important;
    }
}

@media screen and (min-width:1000px) {
    .switcher {
        top: 14% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 30.8% !important;
    }
    .navbar-p {
        font-size: 1.1em !important;
        font-weight: 500;
    }
    .check {
        width: 90px;
        height: 40px;
    }
    .nav-item {
        padding: 8px 20px !important;
    }
}

@media screen and (min-width:1050px) {
    .switcher {
        top: 14% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 31.65% !important;
    }
}

@media screen and (min-width:1100px) {
    .switcher {
        top: 13.5% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 32.4% !important;
    }
    .navbar-p {
        font-size: 1.1em !important;
        font-weight: 500;
    }
    .check {
        width: 100px;
        height: 40px;
    }
    .nav-item {
        padding: 8px 20px !important;
    }
}

@media screen and (min-width:1150px) {
    .switcher {
        top: 13.5% !important;
        left: 2% !important;
    }
    .check {
        width: 90px;
        height: 40px;
    }
    .top-circle {
        margin-left: 33.1% !important;
    }
    .nav-item {
        padding: 8px 40px !important;
    }
}

@media screen and (min-width:1200px) {
    .switcher {
        top: 13% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 33.6% !important;
    }
    .navbar-p {
        font-size: 1.1em !important;
        font-weight: 500;
    }
    .check {
        width: 100px;
        height: 40px;
    }
}

@media screen and (min-width:1250px) {
    .switcher {
        top: 13% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 34% !important;
    }
    .navbar-p {
        font-size: 1.3em !important;
        font-weight: 500;
    }
    .check {
        width: 100px;
        height: 40px;
    }
}

@media screen and (min-width:1300px) {
    .switcher {
        top: 13% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 34.5% !important;
    }
}

@media screen and (min-width:1350px) {
    .switcher {
        top: 13% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 35% !important;
    }
    .check {
        width: 120px;
        height: 40px;
    }
}

@media screen and (min-width:1400px) {
    .switcher {
        top: 12.5% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 35.55% !important;
    }
}

@media screen and (min-width:1450px) {
    .switcher {
        top: 12% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 36% !important;
    }
}

@media screen and (min-width:1500px) {
    .switcher {
        top: 13% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 36.2% !important;
    }
    .navbar-p {
        font-size: 1.7em !important;
        font-weight: 500;
    }
}

@media screen and (min-width:1550px) {
    .switcher {
        top: 12% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 36.6% !important;
    }
}

@media screen and (min-width:1600px) {
    .switcher {
        top: 12% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 37% !important;
    }
}

@media screen and (min-width:1650px) {
    .switcher {
        top: 12% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 37.25% !important;
    }
}

@media screen and (min-width:1700px) {
    .switcher {
        top: 11.5% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 37.7% !important;
    }
}

@media screen and (min-width:1750px) {
    .switcher {
        top: 11% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 38% !important;
    }
}

@media screen and (min-width:1800px) {
    .switcher {
        top: 10.8% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 38.3% !important;
    }
}

@media screen and (min-width:1850px) {
    .switcher {
        top: 10.7% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 38.6% !important;
    }
}

@media screen and (min-width:1900px) {
    .switcher {
        top: 10.6% !important;
        left: 2% !important;
    }
    .top-circle {
        margin-left: 38.8% !important;
    }
}

@media screen and (min-width:1950px) {
    .switcher {
        top: 10.7% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:1920px) {
    .top-circle {
        margin-left: 39% !important;
    }
    .navbar-p {
        font-size: 1.5em !important;
        font-weight: 500;
    }
}

@media screen and (min-width:1960px) {
    .top-circle {
        margin-left: 39.2% !important;
    }
}

@media screen and (min-width:2000px) {
    .top-circle {
        margin-left: 39.3% !important;
    }
    .switcher {
        top: 10.6% !important;
        left: 2% !important;
    }
    .navbar-p {
        font-size: 1.7em !important;
        font-weight: 500;
    }
}

@media screen and (min-width:2050px) {
    .top-circle {
        margin-left: 39.6% !important;
    }
    .switcher {
        top: 10.5% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2100px) {
    .top-circle {
        margin-left: 39.8% !important;
    }
    .switcher {
        top: 10.4% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2150px) {
    .top-circle {
        margin-left: 40% !important;
    }
    .switcher {
        top: 10.3% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2200px) {
    .top-circle {
        margin-left: 40.2% !important;
    }
    .switcher {
        top: 10.2% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2250px) {
    .top-circle {
        margin-left: 40.4% !important;
    }
    .switcher {
        top: 10% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2300px) {
    .top-circle {
        margin-left: 40.6% !important;
    }
    .switcher {
        top: 9.9% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2350px) {
    .top-circle {
        margin-left: 40.8% !important;
    }
    .switcher {
        top: 9.75% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2400px) {
    .top-circle {
        margin-left: 41% !important;
    }
    .switcher {
        top: 9.60% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2450px) {
    .top-circle {
        margin-left: 41.2% !important;
    }
    .switcher {
        top: 9.45% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2500px) {
    .top-circle {
        margin-left: 41.3% !important;
    }
    .switcher {
        top: 9.3% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2550px) {
    .top-circle {
        margin-left: 41.5% !important;
    }
    .switcher {
        top: 9.15% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2600px) {
    .top-circle {
        margin-left: 41.5% !important;
    }
    .switcher {
        top: 9.0% !important;
        left: 2% !important;
    }
    .navbar-p {
        font-size: 2em !important;
        font-weight: 500;
    }
}

@media screen and (min-width:2650px) {
    .top-circle {
        margin-left: 41.7% !important;
    }
    .switcher {
        top: 8.85% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2700px) {
    .top-circle {
        margin-left: 41.85% !important;
    }
    .switcher {
        top: 8.7% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2750px) {
    .top-circle {
        margin-left: 42% !important;
    }
    .switcher {
        top: 8.55% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2800px) {
    .top-circle {
        margin-left: 42% !important;
    }
    .switcher {
        top: 8.4% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2850px) {
    .top-circle {
        margin-left: 42.20% !important;
    }
    .switcher {
        top: 8.25% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2900px) {
    .top-circle {
        margin-left: 42.4% !important;
    }
    .switcher {
        top: 8.1% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:2950px) {
    .top-circle {
        margin-left: 42.5% !important;
    }
    .switcher {
        top: 7.95% !important;
        left: 2% !important;
    }
}

@media screen and (min-width:3000px) {
    .top-circle {
        margin-left: 42.55% !important;
    }
    .switcher {
        top: 8.7% !important;
        left: 2% !important;
    }
}